<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Config/etc/system_file.xsd">
    <system>
        <section id="magezil_bestseller" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Bestseller Products</label>
            <tab>magezil</tab>
            <resource>Magezil_Bestseller::config_bestseller</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="user_logged" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Logged User</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Show block only when the user is logged in.</comment>
                    <depends>
                        <field id="magezil_bestseller/general/enable">1</field>
                    </depends>
                </field>
                <field id="title" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                    <depends>
                        <field id="magezil_bestseller/general/enable">1</field>
                    </depends>
                </field>
                <field id="display_limit" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Qty Products Display</label>
                    <comment>Quantity of products to display on frontend. To do not apply this filter, just leave it empty.</comment>
                    <depends>
                        <field id="magezil_bestseller/general/enable">1</field>
                    </depends>
                </field>
            </group>
            <group id="filter" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Period settings</label>
                <field id="period" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Period to Filter</label>
                    <source_model>Magezil\Bestseller\Model\Config\Source\PeriodToFilterBestseller</source_model>
                </field>
                <field id="from_date" translate="label" type="date" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>From Date</label>
                    <frontend_model>Magezil\Bestseller\Model\Config\Source\Date</frontend_model>
                    <comment>To do not apply this filter, just leave it empty.</comment>
                </field>
                <field id="to_date" translate="label" type="date" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>To Date</label>
                    <frontend_model>Magezil\Bestseller\Model\Config\Source\Date</frontend_model>
                    <comment>To do not apply this filter, just leave it empty.</comment>
                </field>
                <depends>
                    <field id="magezil_bestseller/general/enable">1</field>
                </depends>
            </group>
            <group id="template_type" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Cards settings</label>
                <field id="is_magento_template" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Magento listing product</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Use the default Magento product listing.</comment>
                </field>
                <field id="show_wishlist" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Wishlist</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Show button add to wishlist in bestseller listing products.</comment>
                    <depends>
                        <field id="magezil_bestseller/template_type/is_magento_template">0</field>
                    </depends>
                </field>
                <field id="show_compare" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Compare</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Show button add to compare in bestseller listing products.</comment>
                    <depends>
                        <field id="magezil_bestseller/template_type/is_magento_template">0</field>
                    </depends>
                </field>
                <field id="qty_products" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Qty Products</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Show quantity products to add to cart in bestseller listing products.</comment>
                    <depends>
                        <field id="magezil_bestseller/template_type/is_magento_template">0</field>
                    </depends>
                </field>
                <depends>
                    <field id="magezil_bestseller/general/enable">1</field>
                </depends>
            </group>
        </section>
    </system>
</config>
